## Loops in Python

1. `for` loop
2. `while` loop

## conditionals
1. `if .. elif .. else ..` 
2. `match` ---> in C switch statement

In [1]:
c=range(10)
c

range(0, 10)

In [8]:
c=range(2,10,2)
c

range(2, 10, 2)

In [9]:
for i in c:
    print(i)

2
4
6
8

In [14]:
c={'aeferfr',"b","c","d"}

for i in c: # for i in iterable
    print(i)

d
c
aeferfr
b

In [15]:
c="wdw21343#$%#$%TT**341"

In [16]:
c = 0

while c < 10:
    print(c)
    c += 2

0
2
4
6
8

In [18]:
for i in range(0,15,2):
    if i < 10:
        print(i)
    else:
        break

0
2
4
6
8

In [20]:
for i in range(15):
    if i >= 10:
        break
        
    if i%2 == 0:
        print(i)

0
2
4
6
8

In [21]:
for i in range(15):
    if i >=10:
        break
    
    if i%2 > 0:
        continue

    print(i)

0
2
4
6
8

## Function introduction
```
def <function name>:
    pass

def <function name>(a,b):
    # something with a and b and returns a value
    return 0

def <function name>(a,b) -> c:
    pass
```

In [33]:
def multiply(x):
    return x*2

In [34]:
c = multiply(10)

In [35]:
c

20

In [3]:
def multiple(x:int)->int:
    return int(d*2)

In [4]:
c = multiple(10.2)

NameError: name 'd' is not defined

In [ ]:
c